.genre {
    border-radius: 15px;
    padding: 5px 12px;
    background: white;
    margin: 0 0.7vw 1vh 0;
    cursor: pointer;
}

.genre a {
    font-family: 'Mona-Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: black
}

.genre a[class='active'] {
    color: #accbee;
}

.genre:hover {
    background-color: #e7f0fd;
}