.user {
    width: 2.5vw;
    margin: 0 1.5vw 0 1.5vw;
    transition: ease-in 0.3s;

}

.name{
    margin: 0 0 0 1.1vw;
    font-size: 14px;
}

.user:hover {
    transform: scale(1.2);
}

.darkUser p{
    color: gray;
    font-size: 14px;
}