.header {
    height: 11vh;
    background-color: #f8f7f4;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 25.5vw;
    margin-top: 3vh;
}

.links a {
    text-decoration: none;
    font-family: 'Mona-Sans', sans-serif;
    color: #282634;
    font-weight: 500;
}

.links a[class='active'] {
    color: dimgrey;
}

.logo {
    width: 49vw;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.logo img {
    width: 5vw
}

.searchAndUser {
    width: 25vw;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 2vh;
}